<div class="kit-edm-tree" id="{{treeId}}">
    <img class="kit-edm-tree-collapse-all" src="{{asset("bundles/kitpagescms/icon/collapse_all.gif")}}"  />
    <img class="kit-edm-tree-expand-all" src="{{asset("bundles/kitpagescms/icon/expand_all.gif")}}"  />

    {% include 'KitpagesEdmBundle:Tree:nodeChildren.html.twig' with {'nodeChildren': nodeChildren, 'treeLevel': 0 } %}

    <div class="kitpages_edmbundle_nodedirectoryform popup_block">
        <div class="kit-edm-tree-form-action-title">{{ "Add a directory" | trans }}</div>
        <form method="post" action="{{ path("kitpages_edm_add_directory", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formDirectory) }}>
            {{ form_errors(formDirectory) }}
            {{ form_rest(formDirectory) }}
            <p>
                <button type="submit" class="btn-standard">{{ "Send" | trans }}</button>
            </p>
            {{ form_widget(formDirectory) }}
        </form>
    </div>

    <div class="kitpages_edmbundle_nodefileform popup_block">
        <div class="kit-edm-tree-form-action-title">{{ "Add a file" | trans }}</div>
        <form method="post" action="{{ path("kitpages_edm_add_file", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formFile) }}>
            {{ form_errors(formFile) }}
            {{ form_rest(formFile) }}
            <p>
                <button type="submit" class="btn-standard">{{ "Send" | trans }}</button>
            </p>
            {{ form_widget(formFile) }}
        </form>
    </div>

    <div class="kitpages_edmbundle_nodefileversionform popup_block">
        <div class="kit-edm-tree-form-action-title">{{ "Add a new version" | trans }}</div>
        <form method="post" action="{{ path("kitpages_edm_add_file_version", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formFileVersion) }}>
            {{ form_errors(formFileVersion) }}
            {{ form_rest(formFileVersion) }}
            <p>
                <button type="submit" class="btn-standard" >{{ "Send" | trans }}</button>
            </p>
            {{ form_widget(formFileVersion) }}
        </form>
    </div>
<script>
    $(document).ready(function() {
        treeExpandAll($('#{{treeId}}'));
        for (var i=1; i<={{openTreeLevel}}; i++) {
            $('#{{treeId}} .kit-edm-tree-level-' + i +' .kit-edm-tree-expanded-collapsed').each(function(index) {
                nodeToggle($(this));
            });
        }
        $('#{{treeId}}').show();
    });
</script>
</div>
