    <ul class="kit-edm-tree-node-container">
        {% for kitEdmNode in nodeChildren %}
            <li class="kit-edm-tree-node {{kitEdmNode.class|default()}}">
                <div class="kit-edm-tree-line kit-edm-tree-line-{{kitEdmNode.nodeType}}">
                    <div class="kit-edm-tree-line-start kit-edm-tree-line-start-{{kitEdmNode.nodeType}}">
                        {% if kitEdmNode.nodeType == 'directory' %}
                            <img class="kit-edm-tree-line-directory-img-open" src="{{asset('bundles/kitpagesedm/icon/open.png')}}" />
                        {% endif %}
                        {% if kitEdmNode.url is defined %}
                            <a href="{{kitEdmNode.url}}">
                        {% endif %}
                            <img src="{{asset('bundles/kitpagesedm/icon/' ~ kitEdmNode.nodeType ~ '.png')}}" />
                            <span class="kit-edm-tree-page-title">{{kitEdmNode.label|raw}}</span>
                        {% if kitEdmNode.url is defined %}
                            </a>
                        {% endif %}
                    </div>
                    <ul class="kit-edm-tree-actions kit-edm-menu">
                    {% for kitEdmNodeAction in kitEdmNode.actionList %}
                        <li class="{{kitEdmNodeAction.class|default()}}" >
                            {% if kitEdmNodeAction.dataPopup is defined %}
                                <a href="#" class="poplight {{kitEdmNodeAction.classLink|default()}}" rel="{{kitEdmNodeAction.dataPopup.rel}}" data-kitpages-edm-field-name="{{kitEdmNodeAction.dataPopup.fieldName}}"  data-kitpages-edm-field-value="{{kitEdmNodeAction.dataPopup.fieldValue}}" title="{{kitEdmNodeAction.label}}">
                            {% else %}
                                <a href="{{kitEdmNodeAction.url}}" class="{{kitEdmNodeAction.classLink|default()}}" title="{{kitEdmNodeAction.label}}">
                            {% endif %}
                            {% if kitEdmNodeAction.icon is defined %}
                                <img src="{{asset(kitEdmNodeAction.icon)}}">
                            {% else %}
                                {{kitEdmNodeAction.label}}
                            {% endif %}
                                </a>
                        </li>
                    {% endfor %}
                    </ul>
                    <div style="clear:both"></div>
                </div>
                <div style="clear:both" ></div>
                <div class="kit-edm-tree-state-node">
                    {% include 'KitpagesEdmBundle:Tree:nodeChildren.html.twig' with {'nodeChildren': kitEdmNode.children } %}
                </div>
            </li>
        {% endfor %}
    </ul>