    <script type="text/javascript" src="{{ asset ("bundles/kitpagescms/js/jQuery/kitCmsModal.js") }}" ></script>
    <div class="kit-edm-tree">
        <style>

            #fade { /*--Masque opaque noir de fond--*/
            	display: none; /*--masqué par défaut--*/
            	background: #000;
            	position: fixed; left: 0; top: 0;
            	width: 100%; height: 100%;
            	opacity: .80;
            	z-index: 9999;
            }
            .popup_block{
            	display: none; /*--masqué par défaut--*/
            	background: #fff;
            	padding: 20px;
            	border: 20px solid #ddd;
            	float: left;
            	font-size: 1.2em;
            	position: fixed;
            	top: 50%; left: 50%;
            	z-index: 99999;
            	/*--Les différentes définitions de Box Shadow en CSS3--*/
            	-webkit-box-shadow: 0px 0px 20px #000;
            	-moz-box-shadow: 0px 0px 20px #000;
            	box-shadow: 0px 0px 20px #000;
            	/*--Coins arrondis en CSS3--*/
            	-webkit-border-radius: 10px;
            	-moz-border-radius: 10px;
            	border-radius: 10px;
            }
            img.btn_close {
            	float: right;
            	margin: -55px -55px 0 0;
            }
            /*--Gérer la position fixed pour IE6--*/
            *html #fade {
            position: absolute;
            }
            *html .popup_block {
            position: absolute;
            }
        </style>
        <script>
            $(document).ready(function() {


                //Lorsque vous cliquez sur un lien de la classe poplight et que le href commence par #
                $('a.poplight[href^=#]').click(function() {
                    var kitpagesEdmFieldName = $(this).data('kitpages-edm-field-name');
                    var kitpagesEdmFieldValue = $(this).data('kitpages-edm-field-value');
                    $('#' + kitpagesEdmFieldName).val(kitpagesEdmFieldValue);

                    var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
                    var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

                    var popWidth = 500; //La première valeur du lien

                    //Faire apparaitre la pop-up et ajouter le bouton de fermeture
                    $('#' + popID).fadeIn().css({
                        'width': Number(popWidth)
                    })
                    .prepend('<a class="close">close</a>');

                    //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
                    var popMargTop = ($('#' + popID).height() + 80) / 2;
                    var popMargLeft = ($('#' + popID).width() + 80) / 2;

                    //On affecte le margin
                    $('#' + popID).css({
                        'margin-top' : -popMargTop,
                        'margin-left' : -popMargLeft
                    });

                    //Effet fade-in du fond opaque
                    $('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
                    //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
                    $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();
                    return false;
                });

                //Fermeture de la pop-up et du fond
                $('a.close, #fade').live('click', function() { //Au clic sur le bouton ou sur le calque...
                    $('#fade , .popup_block').fadeOut(function() {
                        $('#fade, a.close').remove();  //...ils disparaissent ensemble
                    });
                    return false;
                });

                $('.kit-edm-delete-node').click(function(e) {
                    var response = confirm("Do you confirm you want to " + $(this).attr('title') + " ?");
                    if (!response) {
                        e.preventDefault();
                    }
                });

            });
        </script>

    {% include 'KitpagesEdmBundle:Tree:nodeChildren.html.twig' with {'nodeChildren': nodeChildren } %}

        <div id="kitpages_edmbundle_nodedirectoryform" class="popup_block">
            <form method="post" action="{{ path("kitpages_edm_add_directory", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formDirectory) }}>
                {{ form_errors(formDirectory) }}
                {{ form_rest(formDirectory) }}
                <p>
                    <button type="submit" class="btn-standard">{{ "add a directory" | trans }}</button>
                </p>
                {{ form_widget(formDirectory) }}
            </form>
        </div>

        <div id="kitpages_edmbundle_nodefileform" class="popup_block">
            <form method="post" action="{{ path("kitpages_edm_add_file", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formFile) }}>
                {{ form_errors(formFile) }}
                {{ form_rest(formFile) }}
                <p>
                    <button type="submit" class="btn-standard">{{ "add a file" | trans }}</button>
                </p>
                {{ form_widget(formFile) }}
            </form>
        </div>

        <div id="kitpages_edmbundle_nodefileversionform" class="popup_block">
            <form method="post" action="{{ path("kitpages_edm_add_file_version", {kitpages_target: app.request.requestUri }) }}" {{ form_enctype(formFileVersion) }}>
                {{ form_errors(formFileVersion) }}
                {{ form_rest(formFileVersion) }}
                <p>
                    <button type="submit" class="btn-standard">{{ "new version" | trans }}</button>
                </p>
                {{ form_widget(formFileVersion) }}
            </form>
        </div>

    </div>
            {{ path ("kitpages_edm_add_directory", {"parentNodeId": node.id }) }}

